<div class="container">
  <% if current_user %>
    <% if @request %>
      <div class="col-md-12 formMargin">
        <%= render 'form' %>
      </div>
    <% else %>
      <div class="centered">
        <h2>Post A Flight</h2>
      </div>
      <%= render 'flightAlone' %>
    <% end %>
  <% else %>
      <h2>Please <%= link_to 'Sign Up', new_user_registration_path %> Or <%= link_to 'Log In', new_user_session_path %> To Post A Flight</h2>
  <% end %>
  </div>
