
<div class="container">
<h2>All Delivery Requests</h2><hr>
  <% @requests.each do |request| %>
    <ul>
      <li><%= image_tag request.itemphoto.url(:thumb) %><%= link_to request.itemname, request_path(request) %> || <%= link_to request.country, request_path(request) %>  ||  <%= link_to request.airport, request_path(request) %> </li><hr>
    </ul>
  <% end %>
</div>
