
<div class="container">
<h2>All Delivery Requests</h2><hr>
<div class="list_text_size">
    <% @requests.each do |request| %>
      <ul>
      <% request.items.each do |item| %>
      <li><%= image_tag item.itemimage.url(:thumb)%> <%= item.itemname %> || Coming From: <%= request.fromcountry %> || Going To: <%= request.airport %></li><hr>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
