
<div class="container">
<h2>All Delivery Requests</h2><hr>
<div class="list_text_size">
    <% @requests.each do |request| %>
    <div class="delivery_index">
      <ul>
          <hr><li> <%= image_tag request.item.itemimage.url(:thumb)%> <%= link_to request.item.itemname, request_path(request) %> || Coming From: <%= request.fromcountry %> || Going To: <%= request.airport %></li><hr>
      </ul>
    </div>
    <% end %>
  </div>
</div>
