
<div class="container">
  <% if current_user %>
    <% if @flight %>
        <%= render 'flightRequest' %>
    <% else %>
      <div class="centered">
        <h1>Request an International Delivery</h1>
      </div>
      <%= render 'form' %>
    <% end %>
      </div>
  <% else %>
    <h2>Please <%= link_to 'Sign Up', new_user_registration_path %> or <%= link_to 'Log In', new_user_session_path %> to request a delievery</h2>
  <% end %>
