@import "bootstrap-sprockets";
@import "bootstrap";

html{
  font-family: 'Arvo', serif;
}

li{
  list-style-type: none;
}

.homephoto {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('mtcook.jpg') no-repeat center ;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center;
  height: 600px;
  width: 100%;

  margin: 0px;
}
.homephoto {
  width: 100%;
}

.asdf{
  height:50rem;
  overflow: hidden;
  width: 100%;
  background: no-repeat center;
  background-size: cover;
  color: white;
  margin-right: 20%;

}

.alignment {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;

}



.introtext{
  margin-top: 12%;
}
.undertext{
  margin-top: 40px;
}

.imagetag{
  text-align: center;
}

.google{
  border: solid 2px;
  background-color: #F8F8F8;
}

.imag{
  margin-right: 10%;
  border: 4px solid white;
}
.editcover{
  float: right;
  margin-top: 50%
}

.nameAndpic{
  float:right;
  margin-top: 8%;
  text-align: center;

}

.nameAndpic h2{
  text-align: center;
  text-shadow: 1px 1px black;
  color: black;
}

.contact{
  color: black
}
.bringItem{
  text-align: center;
}
.coveredit{
  float: right;
}

.delivery_index{
background-color: white;
border: 1px black solid;
}

.delivery_index li{
  font-size: 1.4em;
  background-color: white;
  border: 1px black solid;
  margin-right: 3%;
}

// .item_border{
//   border: 1px solid black;
// }
.airplaneimg{
  width: 70%;
  height: 70%;
  margin-left: 10%;
  margin-top: 5%;
}
.whichcountry{
  text-align: center;
}
#American{
  display: none;
}

#Australian{
  display: none;
}
.editanddelete{
  text-align: center;
}
.bringbtn{
  text-align: center;
  margin-top: 30%;
}
#keepItHidden{
  display:none;
}
#formForItem{
  display: none;

}
.keepItmargin {
  margin-top: 10%;
}
.inlineButtons{
  display: inline;
}

.profilePic{
  border-radius: 100px;
}
